body {

    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    
}

header {
    background-color: #4FC3F7;
    color: white;
    padding: 20px
}

nav ul {
    list-style-type: none;
    padding: 0;
    background: #4FC3F7;
    margin: 0;
}

nav ul li{
    display: inline;
    padding: 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 40px;
}

img {
    max-width: 80%;
    height: auto;
    max-height:300px;
    border-radius: 10px;
    margin-top: 10px;
}
#dota2-img {
    width:37px;
    height: 37px;
}

.socials {
    width: 50px;
    height: auto;
    border-radius: 10px;
}

footer{
    background: #4FC3F7;
    color: white;
    padding: 10px;
    margin-top:20px;
}

.text-block {
    justify-content: center;
    display: flex;
}
.obvodka {
    background-color: #134dd5;
    padding: 10px;
    border-radius: 15px;

}


.dropdown {
    position: absolute;
    left:0;
    top: 113px;
    width: 200px;
}

.dropdown-button{
    background-color: rgb(29, 124, 207);
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
}
.dropdown-content{
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
        margin: 0;
}

.dropdown-content li {
    padding: 10px;
    border-bottom:1px solid #ddd;
}

.dropdown-content li:last-child {
    border-bottom:none;
}

.dropdown-content li:hover {
    background-color: #ddd;

}

.dropdown:hover .dropdown-content{
    display:block;
}

details {
    font-family: 'Proxima Nova', Georgia, sans-serif;



}

